# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency
node_modules/

# Build
dist/

# Env
.env
*.local

# VSCode & IDE
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# TypeScript
*.tsbuildinfo

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
